<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Events</title>
		<link rel="stylesheet" href="dependencies/reset.css?v=1.0">
		<link rel="stylesheet" href="dependencies/sakura-custom.css?v=1.0" type="text/css">
		<link rel="stylesheet" href="dependencies/chota-grid.css?v=1.0">
		<link rel="stylesheet" href="https://unpkg.com/vue-select@beta/dist/vue-select.css">
		<link rel="stylesheet" href="styles/style.css?v=1.1">
		<!--<link rel="icon" href="favicon.ico" type="image/x-icon">-->
	</head>
	<body>
		<div id="app">
			<main>
				<section v-if="urlHash" class="section-event-display">
					<div class="event-display">
						<div class="event-square" v-if="urlHashLoaded" v-cloak>
							<div class="title">
								<h1 v-text="event.title"></h1>
							</div>
							<div class="location">
								<div v-if="event.location" v-text="event.location"></div>
							</div>
							<div class="date-and-time">
								<!-- single-day, non-all-day events -->
								<div v-if="!event.multiDay && !event.allDay && event.shortEndTime" v-text="event.shortStartTime + ' \u2013 ' + event.shortEndTime"></div>
								<div v-if="!event.multiDay && !event.allDay && !event.shortEndTime" v-text="event.whimsicalStartTime"></div>
								<div v-if="!event.multiDay && !event.allDay">&bull;</div>
								<div v-if="!event.multiDay && !event.allDay" v-text="event.startLongWeekday || event.endLongWeekday"></div>
								<div v-if="!event.multiDay && !event.allDay">&bull;</div>
								<div v-if="!event.multiDay && !event.allDay" v-text="event.startYearfulDate || event.endYearfulDate"></div>
	
								<!-- single-day, all-day events -->
								<div v-if="!event.multiDay && event.allDay" v-text="event.startLongWeekday"></div>
								<div v-if="!event.multiDay && event.allDay">&bull;</div>
								<div v-if="!event.multiDay && event.allDay" v-text="event.startYearfulDate || event.endYearfulDate"></div>
								
								<!-- multi-day, non-all-day events -->
								<div v-if="event.multiDay && !event.allDay && event.lessThanAWeek" v-text="event.startLongWeekday + '\u2013' + event.endLongWeekday"></div>
								<div v-if="event.multiDay && !event.allDay && event.lessThanAWeek">&bull;</div>
								<div v-if="event.multiDay && !event.allDay && event.lessThanAWeek && !event.multiYear" v-text="event.shortStartTime + ' ' + event.startYearlessDate"></div>
								<div v-if="event.multiDay && !event.allDay && event.lessThanAWeek && event.multiYear" v-text="event.shortStartTime + ' ' + event.startYearfulDate"></div>
								<div v-if="event.multiDay && !event.allDay && !event.lessThanAWeek && !event.multiYear" v-text="event.shortStartTime + ' ' + event.startShortWeekday + ' ' + event.startYearlessDate"></div>
								<div v-if="event.multiDay && !event.allDay && !event.lessThanAWeek && event.multiYear" v-text="event.shortStartTime + ' ' + event.startShortWeekday + ' ' + event.startYearfulDate"></div>
								<div v-if="event.multiDay && !event.allDay">&ndash;</div>
								<div v-if="event.multiDay && !event.allDay && event.lessThanAWeek" v-text="event.shortEndTime + ' ' + event.endYearfulDate"></div>
								<div v-if="event.multiDay && !event.allDay && !event.lessThanAWeek" v-text="event.shortEndTime + ' ' + event.startYearfulDate + ' ' + event.endYearfulDate"></div>
	
								<!-- multi-day, all-day events -->
								<div v-if="event.multiDay && event.allDay && event.lessThanAWeek" v-text="event.startLongWeekday + '\u2013' + event.endLongWeekday"></div>
								<div v-if="event.multiDay && event.allDay && event.lessThanAWeek">&bull;</div>
								<div v-if="event.multiDay && event.allDay && event.lessThanAWeek && !event.multiYear" v-text="event.startYearlessDate + ' \u2013 ' + event.endYearfulDate"></div>
								<div v-if="event.multiDay && event.allDay && event.lessThanAWeek && event.multiYear" v-text="event.startYearfulDate + ' \u2013 ' + event.endYearfulDate"></div>
								<div v-if="event.multiDay && event.allDay && !event.lessThanAWeek && !event.multiYear" v-text="event.startShortWeekday + ' ' + event.startYearlessDate + ' \u2013 ' + event.endShortWeekday + ' ' + event.endYearfulDate"></div>
								<div v-if="event.multiDay && event.allDay && !event.lessThanAWeek && event.multiYear" v-text="event.startShortWeekday + ' ' + event.startYearfulDate + ' \u2013 ' + event.endShortWeekday + ' ' + event.endYearfulDate"></div>
	
								<div v-if="event.timezone">&bull;</div>
								<div v-if="event.timezone"><span v-text="event.timezone"></span></div>
							</div>
							<div class="rsvp">
								<div v-text="event.rsvpString"></div>
							</div>
							<div class="description">
								<div v-text="event.description"></div>
							</div>
						</div>
						<div class="event-square" v-if="urlHashLoadFailed" v-cloak>
							Error displaying event
						</div>
					</div>
					<div class="calendar-buttons-display" v-if="urlHashLoaded" v-cloak>
						<div class="calendar-buttons">
							<add-to-calendar-button
								:name="event.title || 'Event'"
								:location="event.location || 'Location TBC'"
								:startDate="event.startDate || '2026-03-03'"
								:endDate="event.startDate || '2026-03-03'"
								:startTime="event.startTime || '13:00'"
								:endTime="event.endTime || '17:00'"
								timeZone="EST"
								debug
								options="'Apple','Google','iCal','Outlook.com','Yahoo'"
								buttonsList
								hideTextLabelButton
								buttonStyle="round"
								lightMode="bodyScheme"
							></add-to-calendar-button>
						</div>
					</div>
				</section>
				<section class="section-edit">
					<h1 v-if="urlHash">Edit</h1>
					<h1 v-else>Create Event</h1>
					<form>
						<div class="row">
							<div class="col-8">
								<label for="title">Title</label>
			  					<input type="text" id="title" name="title" v-model="event.title" placeholder="My Event">
							</div>
							<div class="col">
								<label for="location">Location</label>
			  					<input type="text" id="location" name="location" v-model="event.location" placeholder="Location TBA">
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label for="start-datetime">Start</label>
			  					<input type="datetime-local" id="start-datetime" name="start-datetime" v-model="event.startDatetime" placeholder="2026-01-01">
							</div>
							<div class="col">
								<label for="end-datetime">End</label>
			  					<input type="datetime-local" id="end-datetime" name="end-datetime" v-model="event.endDatetime" placeholder="2026-01-01">
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label for="timezone">Timezone</label>
								<v-select id="timezone" name="timezone" v-model="event.timezone" :options="possibleTimezones"></v-select>
								<div class="timezone-details">
									<div class="timezone-details-heading">Event runs from:</div>
									<div><span v-text="event.startDateTimeUTC || '\u2014'"></span> to <span v-text="event.endDateTimeUTC || '\u2014'"></span></div>
									<div><span v-text="event.startDateTimeWithOffset || '\u2014'"></span> to <span v-text="event.endDateTimeWithOffset || '\u2014'"></span></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label for="rsvp">RSVP</label>
		  						<input type="text" id="rsvp" name="rsvp" v-model="event.rsvp" placeholder="eventorganiser@example.com">
							</div>
							<div class="col">
								<label for="rsvp-date">RSVP Date</label>
		  						<input type="date" id="rsvp-date" name="rsvp-date" v-model="event.rsvpDate" placeholder="2026-01-01">
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label for="image-url">Image URL</label>
		  						<input type="url" id="image-url" name="image-url" v-model="event.imageUrl" placeholder="https://example.com/event-poster.png">
							</div>
							<div class="col">
								<label for="theme">Theme</label>
		  						<input type="text" id="theme" name="theme" v-model="event.theme" placeholder="party">
							</div>
							<div class="col">
								<label for="rng">RNG</label>
		  						<input type="number" min="0" max="999" step="1" id="rng" name="rng" v-model="event.rng">
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label for="description">Description</label>
		  						<textarea id="description" name="description" v-model="event.description" placeholder="Description here"></textarea>
							</div>
						</div>
					</form>
					<h1>Links</h1>
					<div class="links-list">
						<url-display :url="eventUrl"></url-display>
						<url-display :url="eventUrlSmallestEncoded"></url-display>
					</div>
				</section>
				<section class="section-faq">
					<h1>FAQ</h1>
					<h6>What is this? How do I use it?</h6>
					<p>
						It's a quick way to share events. Just open a new page, fill out the form, copy a link,
						and send it to friends! They can save the event to their calendars, or take a screenshot :))
					</p>
					<h6>Can I trust these event details?</h6>
					<p>
						It's as trustworthy as the person/page who sent it to you. Anyone can easily make a fake
						event, or edit the details of an existing event before forwarding it. Make sure you trust
						the person who sent you this event
					</p>
					<h6>Why is my link in Chinese?</h6>
					<p>
						Instagram allows people to share links on their story, but there's a character limit.
						It turns out that by compressing the URL and using a wider range of Unicode characters,
						we can fit a longer event into a short link. Unicode has a lot of Chinese/Asian characters,
						so the links look Chinese! It's almost guaranteed to be nonsense to a Chinese reader though.
					</p>
					<h6>Do you store my data?</h6>
					<p>
						No. The event details are stored in the link; you don't need an account or anything else.
						This site doesn't even have a database; there's no data to store! Nor are there cookies,
						tracking, ads, or anything else.
					</p>
					<h6>Does GitHub store my data?</h6>
					<p>
						Yes. GitHub keeps a log of IP addresses who access the site, and might store other
						server-side data such the URL you visited. Please consult GitHub's policies for details.
					</p>
					<h6>Can I use this site to share community/not-for-profit events?</h6>
					<p>
						Yes! Please go ahead
					</p>
					<h6>What about commercial/for-profit events?</h6>
					<p>
						Yes! Go ahead
					</p>
					<h6>What about sharing private events with friends &amp; family?</h6>
					<p>
						Yes! Go ahead, just be mindful that anyone could forward the link to new people
					</p>
					<h6>Can I copy the code and run this site on my own domain?</h6>
					<p>
						Yes, but only if you're running it without generating a profit. TBD legalese.
					</p>
					<h6>Someone sent me a dodgy event on this site. Can I hold this site liable?</h6>
					<p>
						No. TBD legalese.
					</p>
				</section>
			</main>
		</div>
		<template id="url-display">
			<div @copy="removeNewlinesFromManualCopy">
				<div class="url-preview-row">
					<div class="url-preview">
						<div class="url-base" v-text="url?.urlBase"></div>
						<div class="hash-icon-container">
							<icon-hash class="hash-icon"></icon-hash>
							<div class="hash-text">#</div>
						</div>
						<code v-text="url?.urlHash"></code>
					</div>
					<button class="copy-button" @click="copyUrlToClipboard()">
						<icon-clipboard-check v-if="copied" class="copied"></icon-clipboard-check>
						<icon-clipboard v-else></icon-clipboard>
					</button>
				</div>
				<div class="url-stats">
					<div class="compatibility-heading">Compatibility:</div>
					<div><span v-text="url?.charCount"></span> chars</div>
					<div>&bull;</div>
					<div>Instagram: <span v-if="url?.compatibleWithIG">Yea</span><span v-else>Nay</span></div>
					<div>&bull;</div>
					<div>ASCII: <span v-if="url?.ascii">Yea</span><span v-else>Nay</span></div>
				</div>
			</div>
		</template>
		<template id="icon-clipboard">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
				<path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
				<path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
			</svg>
		</template>
		<template id="icon-clipboard-check">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
				<path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
				<path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
			</svg>
		</template>
		<template id="icon-hash">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hash" viewBox="0 0 16 16">
				<path d="M8.39 12.648a1 1 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1 1 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.51.51 0 0 0-.523-.516.54.54 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532s.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531s.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z"/>
			</svg>
		</template>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="https://unpkg.com/vue-async-computed@4.0.1"></script>
		<script src="https://unpkg.com/vue-select@beta"></script>
		<script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>
		<script src="dependencies/UniBinary.js"></script>
		<script src="dependencies/compress.js"></script>
		<script src="scripts/index.js"></script>
	</body>
</html>
