<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Events</title>
		<link rel="stylesheet" href="dependencies/reset.css?v=1.0">
		<link rel="stylesheet" href="dependencies/sakura-custom.css?v=1.0" type="text/css">
		<link rel="stylesheet" href="dependencies/chota-grid.css?v=1.0">
		<link rel="stylesheet" href="styles/style.css?v=1.1">
		<!--<link rel="icon" href="favicon.ico" type="image/x-icon">-->
	</head>
	<body>
		<div id="app">
			<main>
				<section v-if="urlHash" class="section-event-display">
					<div class="event-display">
						<div class="event-square" v-if="urlHashLoaded" v-cloak>
							<div class="title">
								<h1 v-text="event.title"></h1>
							</div>
							<div class="location">
								<div v-if="event.location" v-text="event.location"></div>
							</div>
							<div class="date-and-time">
								<!-- single-day, non-all-day events -->
								<div v-if="!event.multiDay && !event.allDay && event.shortEndTime" v-text="event.shortStartTime + ' \u2013 ' + event.shortEndTime"></div>
								<div v-if="!event.multiDay && !event.allDay && !event.shortEndTime" v-text="event.whimsicalStartTime"></div>
								<div v-if="!event.multiDay && !event.allDay">&bull;</div>
								<div v-if="!event.multiDay && !event.allDay" v-text="event.startLongWeekday || event.endLongWeekday"></div>
								<div v-if="!event.multiDay && !event.allDay">&bull;</div>
								<div v-if="!event.multiDay && !event.allDay" v-text="event.startYearfulDate || event.endYearfulDate"></div>
	
								<!-- single-day, all-day events -->
								<div v-if="!event.multiDay && event.allDay" v-text="event.startLongWeekday"></div>
								<div v-if="!event.multiDay && event.allDay">&bull;</div>
								<div v-if="!event.multiDay && event.allDay" v-text="event.startYearfulDate || event.endYearfulDate"></div>
								
								<!-- multi-day, non-all-day events -->
								<div v-if="event.multiDay && !event.allDay && event.lessThanAWeek" v-text="event.startLongWeekday + '\u2013' + event.endLongWeekday"></div>
								<div v-if="event.multiDay && !event.allDay && event.lessThanAWeek">&bull;</div>
								<div v-if="event.multiDay && !event.allDay && event.lessThanAWeek && !event.multiYear" v-text="event.shortStartTime + ' ' + event.startYearlessDate"></div>
								<div v-if="event.multiDay && !event.allDay && event.lessThanAWeek && event.multiYear" v-text="event.shortStartTime + ' ' + event.startYearfulDate"></div>
								<div v-if="event.multiDay && !event.allDay && !event.lessThanAWeek && !event.multiYear" v-text="event.shortStartTime + ' ' + event.startShortWeekday + ' ' + event.startYearlessDate"></div>
								<div v-if="event.multiDay && !event.allDay && !event.lessThanAWeek && event.multiYear" v-text="event.shortStartTime + ' ' + event.startShortWeekday + ' ' + event.startYearfulDate"></div>
								<div v-if="event.multiDay && !event.allDay">&ndash;</div>
								<div v-if="event.multiDay && !event.allDay && event.lessThanAWeek" v-text="event.shortEndTime + ' ' + event.endYearfulDate"></div>
								<div v-if="event.multiDay && !event.allDay && !event.lessThanAWeek" v-text="event.shortEndTime + ' ' + event.startYearfulDate + ' ' + event.endYearfulDate"></div>
	
								<!-- multi-day, all-day events -->
								<div v-if="event.multiDay && event.allDay && event.lessThanAWeek" v-text="event.startLongWeekday + '\u2013' + event.endLongWeekday"></div>
								<div v-if="event.multiDay && event.allDay && event.lessThanAWeek">&bull;</div>
								<div v-if="event.multiDay && event.allDay && event.lessThanAWeek && !event.multiYear" v-text="event.startYearlessDate + ' \u2013 ' + event.endYearfulDate"></div>
								<div v-if="event.multiDay && event.allDay && event.lessThanAWeek && event.multiYear" v-text="event.startYearfulDate + ' \u2013 ' + event.endYearfulDate"></div>
								<div v-if="event.multiDay && event.allDay && !event.lessThanAWeek && !event.multiYear" v-text="event.startShortWeekday + ' ' + event.startYearlessDate + ' \u2013 ' + event.endShortWeekday + ' ' + event.endYearfulDate"></div>
								<div v-if="event.multiDay && event.allDay && !event.lessThanAWeek && event.multiYear" v-text="event.startShortWeekday + ' ' + event.startYearfulDate + ' \u2013 ' + event.endShortWeekday + ' ' + event.endYearfulDate"></div>
	
								<div v-if="event.timezone">&bull;</div>
								<div v-if="event.timezone"><span v-text="event.timezone"></span></div>
							</div>
							<div class="rsvp">
								<div v-text="event.rsvpString"></div>
							</div>
							<div class="description">
								<div v-text="event.description"></div>
							</div>
						</div>
						<div class="event-square" v-if="urlHashLoadFailed" v-cloak>
							Error displaying event
						</div>
					</div>
					<div class="calendar-buttons-display" v-if="urlHashLoaded" v-cloak>
						<div class="calendar-buttons">
							<add-to-calendar-button
								:name="event.title || 'Event'"
								:location="event.location || 'Location TBC'"
								:startDate="event.startDate || '2026-03-03'"
								:endDate="event.startDate || '2026-03-03'"
								:startTime="event.startTime || '13:00'"
								:endTime="event.endTime || '17:00'"
								timeZone="EST"
								debug
								options="'Apple','Google','iCal','Outlook.com','Yahoo'"
								buttonsList
								hideTextLabelButton
								buttonStyle="round"
								lightMode="bodyScheme"
							></add-to-calendar-button>
						</div>
					</div>
				</section>
				<section class="section-edit">
					<h1 v-if="urlHash">Edit</h1>
					<h1 v-else>Create Event</h1>
					<form>
						<div class="row">
							<div class="col-8">
								<label for="title">Title</label>
			  					<input type="text" id="title" name="title" v-model="event.title" placeholder="My Event">
							</div>
							<div class="col">
								<label for="location">Location</label>
			  					<input type="text" id="location" name="location" v-model="event.location" placeholder="Location TBA">
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label for="start-datetime">Start</label>
			  					<input type="datetime-local" id="start-datetime" name="start-datetime" v-model="event.startDatetime" placeholder="2026-01-01">
							</div>
							<div class="col">
								<label for="end-datetime">End</label>
			  					<input type="datetime-local" id="end-datetime" name="end-datetime" v-model="event.endDatetime" placeholder="2026-01-01">
							</div>
							<div class="col">
								<label for="timezone">Timezone</label>
		  						<input type="text" id="timezone" name="timezone" v-model="event.timezone" placeholder="ACDT">
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label for="rsvp">RSVP</label>
		  						<input type="text" id="rsvp" name="rsvp" v-model="event.rsvp" placeholder="eventorganiser@example.com">
							</div>
							<div class="col">
								<label for="rsvp-date">RSVP Date</label>
		  						<input type="date" id="rsvp-date" name="rsvp-date" v-model="event.rsvpDate" placeholder="2026-01-01">
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label for="image-url">Image URL</label>
		  						<input type="url" id="image-url" name="image-url" v-model="event.imageUrl" placeholder="https://example.com/event-poster.png">
							</div>
							<div class="col">
								<label for="theme">Theme</label>
		  						<input type="text" id="theme" name="theme" v-model="event.theme" placeholder="party">
							</div>
							<div class="col">
								<label for="rng">RNG</label>
		  						<input type="number" min="0" max="999" step="1" id="rng" name="rng" v-model="event.rng">
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label for="description">Description</label>
		  						<textarea id="description" name="description" v-model="event.description" placeholder="Description here"></textarea>
							</div>
						</div>
					</form>
					<h1>Links</h1>
					<div class="links-list">
						<url-display :url="eventUrl"></url-display>
						<url-display :url="eventUrlSmallestEncoded"></url-display>
					</div>
				</section>
				<section class="section-faq">
					<h1>FAQ</h1>
					<h6>What is this? How do I use it?</h6>
					<p>
						It's a quick way to share events. Just open a new page, fill out the form, copy a link,
						and send it to friends! They can save the event to their calendars, or take a screenshot :))
					</p>
					<h6>Can I trust these event details?</h6>
					<p>
						It's as trustworthy as the person/page who sent it to you. Anyone can easily make a fake
						event, or edit the details of an existing event before forwarding it. Make sure you trust
						the person who sent you this event
					</p>
					<h6>Why is my link in Chinese?</h6>
					<p>
						Instagram allows people to share links on their story, but there's a character limit.
						It turns out that by compressing the URL and using a wider range of Unicode characters,
						we can fit a longer event into a short link. Unicode has a lot of Chinese/Asian characters,
						so the links look Chinese! It's almost guaranteed to be nonsense to a Chinese reader though.
					</p>
					<h6>Do you store my data?</h6>
					<p>
						No. The event details are stored in the link; you don't need an account or anything else.
						This site doesn't even have a database; there's no data to store! Nor are there cookies,
						tracking, ads, or anything else.
					</p>
					<h6>Does GitHub store my data?</h6>
					<p>
						Yes. GitHub keeps a log of IP addresses who access the site, and might store other
						server-side data such the URL you visited. Please consult GitHub's policies for details.
					</p>
					<h6>Can I use this site to share community/not-for-profit events?</h6>
					<p>
						Yes! Please go ahead
					</p>
					<h6>What about commercial/for-profit events?</h6>
					<p>
						Yes! Go ahead
					</p>
					<h6>What about sharing private events with friends &amp; family?</h6>
					<p>
						Yes! Go ahead, just be mindful that anyone could forward the link to new people
					</p>
					<h6>Can I copy the code and run this site on my own domain?</h6>
					<p>
						Yes, but only if you're running it without generating a profit. TBD legalese.
					</p>
					<h6>Someone sent me a dodgy event on this site. Can I hold this site liable?</h6>
					<p>
						No. TBD legalese.
					</p>
				</section>
			</main>
		</div>
		<template id="url-display">
			<div @copy="removeNewlinesFromManualCopy">
				<div class="url-preview-row">
					<div class="url-preview">
						<div class="url-base" v-text="url?.urlBase"></div>
						<div class="hash-icon-container">
							<icon-hash class="hash-icon"></icon-hash>
							<div class="hash-text">#</div>
						</div>
						<code v-text="url?.urlHash"></code>
					</div>
					<button class="copy-button" @click="copyUrlToClipboard()">
						<icon-clipboard-check v-if="copied" class="copied"></icon-clipboard-check>
						<icon-clipboard v-else></icon-clipboard>
					</button>
				</div>
				<div class="url-stats">
					<div class="compatibility-heading">Compatibility:</div>
					<div><span v-text="url?.charCount"></span> chars</div>
					<div>&bull;</div>
					<div>Instagram: <span v-if="url?.compatibleWithIG">Yea</span><span v-else>Nay</span></div>
					<div>&bull;</div>
					<div>ASCII: <span v-if="url?.ascii">Yea</span><span v-else>Nay</span></div>
				</div>
			</div>
		</template>
		<template id="icon-clipboard">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
				<path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
				<path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
			</svg>
		</template>
		<template id="icon-clipboard-check">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
				<path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
				<path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
			</svg>
		</template>
		<template id="icon-hash">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hash" viewBox="0 0 16 16">
				<path d="M8.39 12.648a1 1 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1 1 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.51.51 0 0 0-.523-.516.54.54 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532s.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531s.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z"/>
			</svg>
		</template>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="https://unpkg.com/vue-async-computed@4.0.1"></script>
		<script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>
		<script src="dependencies/UniBinary.js"></script>
		<script src="dependencies/compress.js"></script>
		<script src="scripts/index.js"></script>
		<script>
			class EventUrlInfo {
				constructor(urlBase, urlHash) {
					this.urlBase = urlBase;
					this.urlHash = urlHash;
					this.fullUrl = this.urlBase + '#' + this.urlHash;
					this.charCount = this.fullUrl.length;
					this.compatibleWithIG = this.charCount <= 245;
					this.ascii = /^[\x20-\x7E]*$/.test(this.urlHash);
				}
			}

			class Event {
				constructor(title, location, startDatetime, endDatetime, timezone, rsvp, rsvpDate, imageUrl, theme, rng, description) {
					this.title = title;
					this.location = location;
					this.startDatetime = startDatetime;
					this.endDatetime = endDatetime;
					this.timezone = timezone;
					this.rsvp = rsvp;
					this.rsvpDate = rsvpDate;
					this.imageUrl = imageUrl;
					this.theme = theme;
					this.rng = rng;
					this.description = description;

					const startDetails = startDatetime?.match(/(?<yyyy>\d\d\d\d)-(?<MM>\d\d)-(?<dd>\d\d)T?(?<hh>\d\d)?:?(?<mm>\d\d)?/)?.groups;
					const endDetails = endDatetime?.match(/(?<yyyy>\d\d\d\d)-(?<MM>\d\d)-(?<dd>\d\d)T?(?<hh>\d\d)?:?(?<mm>\d\d)?/)?.groups;
					const rsvpDetails = rsvpDate?.match(/(?<yyyy>\d\d\d\d)-(?<MM>\d\d)-(?<dd>\d\d)T?(?<hh>\d\d)?:?(?<mm>\d\d)?/)?.groups;

					this.startDate = startDetails && startDetails.yyyy + "-" + startDetails.MM + "-" + startDetails.dd;
					this.endDate = endDetails && endDetails.yyyy + "-" + endDetails.MM + "-" + endDetails.dd;
					this.startTime = startDetails && startDetails.hh + ":" + startDetails.mm;
					this.endTime = endDetails && endDetails.hh + ":" + endDetails.mm;
					this.validRsvpDate = rsvpDetails && rsvpDetails.yyyy + "-" + rsvpDetails.MM + "-" + rsvpDetails.dd;

					const startDateObj = startDetails && new Date(+startDetails.yyyy, +startDetails.MM - 1, +startDetails.dd, +startDetails.hh, +startDetails.mm);
					const endDateObj = endDetails && new Date(+endDetails.yyyy, +endDetails.MM - 1, +endDetails.dd, +endDetails.hh, +endDetails.mm);
					const rsvpDateObj = rsvpDetails && new Date(+rsvpDetails.yyyy, +rsvpDetails.MM - 1, +rsvpDetails.dd, +rsvpDetails.hh, +rsvpDetails.mm);

					this.multiYear = startDetails && endDetails && (startDetails.yyyy !== endDetails.yyyy);
					this.rsvpMultiYear = (rsvpDetails && startDetails && rsvpDetails.yyyy !== startDetails.yyyy) || (rsvpDetails && endDetails && rsvpDetails.yyyy !== endDetails.yyyy);

					this.lateNight = startDetails && endDetails && startDetails.yyyy === endDetails.yyyy && startDetails.MM === endDetails.MM && (+startDetails.dd + 1) === +endDetails.dd && +startDetails.hh > 12 && +endDetails.hh < 6;
					this.multiDay = startDetails && endDetails && !this.lateNight && (startDetails.yyyy !== endDetails.yyyy || startDetails.MM !== endDetails.MM || startDetails.dd !== endDetails.dd);

					this.startOnTheHour = startDetails?.mm === "00";
					this.endOnTheHour = endDetails?.mm === "00";

					this.allDay = startDetails?.hh === null && startDetails?.mm === null && endDetails?.hh === null && endDetails?.mm === null;

					this.year = startDetails?.yyyy;
					this.endYear = this.multiYear ? endDetails?.yyyy : null;
					this.rsvpYear = this.rsvpMultiYear ? rsvpDetails?.yyyy : null;

					const shortWeekdayFormatter = new Intl.DateTimeFormat(undefined, { weekday: "short" });
					const longWeekdayFormatter = new Intl.DateTimeFormat(undefined, { weekday: "long" });
					const yearlessDateFormatter = new Intl.DateTimeFormat(undefined, { day: "numeric", month: "numeric" });
					const yearfulDateFormatter = new Intl.DateTimeFormat(undefined, { day: "numeric", month: "numeric", year: "numeric" });

					this.startShortWeekday = startDateObj && shortWeekdayFormatter.format(startDateObj);
					this.endShortWeekday = endDateObj && shortWeekdayFormatter.format(endDateObj);
					this.startLongWeekday = startDateObj && longWeekdayFormatter.format(startDateObj);
					this.endLongWeekday = endDateObj && longWeekdayFormatter.format(endDateObj);
					
					this.lessThanAWeek = (endDateObj - startDateObj) < 1000 * 60 * 60 * 24 * 6;

					this.startYearlessDate = startDateObj && yearlessDateFormatter.format(startDateObj);
					this.startYearfulDate = startDateObj && yearfulDateFormatter.format(startDateObj);

					this.endYearlessDate = endDateObj && yearlessDateFormatter.format(endDateObj);
					this.endYearfulDate = endDateObj && yearfulDateFormatter.format(endDateObj);

					const minutelessTimeFormatter = new Intl.DateTimeFormat(undefined, { hour: "numeric", hour12: true });
					const minutefulTimeFormatter = new Intl.DateTimeFormat(undefined, { hour: "numeric", minute: "2-digit", hour12: true });
					const whimsicalMinutelessTimeFormatter = new Intl.DateTimeFormat(undefined, { hour: "numeric", hour12: true, dayPeriod: "long" });
					const whimsicalMinutefulTimeFormatter = new Intl.DateTimeFormat(undefined, { hour: "numeric", minute: "2-digit", hour12: true, dayPeriod: "long" });
					
					this.shortStartTime     = startDateObj && (this.startOnTheHour ?          minutelessTimeFormatter.format(startDateObj) :          minutefulTimeFormatter.format(startDateObj));
					this.shortEndTime       = endDateObj   && (this.endOnTheHour   ?          minutelessTimeFormatter.format(endDateObj)   :          minutefulTimeFormatter.format(endDateObj));
					this.whimsicalStartTime = startDateObj && (this.startOnTheHour ? whimsicalMinutelessTimeFormatter.format(startDateObj) : whimsicalMinutefulTimeFormatter.format(startDateObj));
					this.whimsicalEndTime   = endDateObj   && (this.endOnTheHour   ? whimsicalMinutelessTimeFormatter.format(endDateObj)   : whimsicalMinutefulTimeFormatter.format(endDateObj));

					this.rsvpString = (
						((this.rsvp || this.rsvpDate) && "RSVP ")
						+ (this.rsvp && "to " + this.rsvp)
						+ (this.rsvpDate && "by " + (this.rsvpMultiYear ? yearfulDateFormatter.format(this.rsvpDate) : yearlessDateFormatter.format(this.rsvpDate)))
					);
				}
			}
			
			const urlDisplayComponent = {
				template: "#url-display",
				components: {
					IconClipboard: { template: "#icon-clipboard" },
					IconClipboardCheck: { template: "#icon-clipboard-check" },
					IconHash: { template: "#icon-hash" },
				},
				props: {
					url: EventUrlInfo
				},
				data() {
					return {
						copied: false
					}
				},
				methods: {
					copyUrlToClipboard() {
						navigator.clipboard.writeText(this.url.fullUrl);
						this.copied = true;
						setTimeout(() => { this.copied = false; }, 2000);
					},
					removeNewlinesFromManualCopy() {
						navigator.clipboard.readText()
							.then(x => x?.replace(/\r|\n/g, ''))
							.then(x => navigator.clipboard.writeText(x))
							.catch(x => {});
					}
				}
			};
			
			const app = Vue.createApp({
				components: {
					UrlDisplay: urlDisplayComponent,
				},
				data() {
					return {
						event: new Event("", "", "", "", "", "", "", "", "", this.randomInt(0,999), ""),
						urlBase: this.getUrlBase(),
						urlHash: window.location.hash.replace(/^#/, ''),
						urlHashLoaded: false,
						urlHashLoadFailed: false
					};
				},
				methods: {
					// displayDatetime(datetime) {
					// 	if (!datetime) return "";
					// 	return datetime.replace(/(?<yyyy>\d\d\d\d)-(?<MM>\d\d)-(?<dd>\d\d)T?(?<hh>\d\d)?:?(?<mm>\d\d)?/, "$<>")
					// },
					encode(str) {
						return unibinary.encodeString(str);
					},
					async compressAndEncode(str) {
						return unibinary.encode(await compress(str));
					},
					decode(str) {
						try { return unibinary.decodeString(str); }
						catch { return null; }
					},
					async decodeAndDecompress(str) {
						try { return await decompress(unibinary.decode(str)); }
						catch { return null; }
					},
					formatDate(datetime) {
						const match = datetime?.match(/\d\d\d\d-\d\d-\d\d/);
						return match && match[0]?.replace(/-/g, '') || '';
					},
					formatDatetime(datetime) {
						const match = datetime?.match(/\d\d\d\d-\d\d-\d\dT\d\d:\d\d/);
						return match && match[0]?.replace(/\D/g, '') || '';
					},
					formatTheme(theme, rng) {
						if (!theme) return "";
						if (!rng) return "";
						if (rng < 0 || rng > 999) return "";
						if (!/^[a-zA-Z\-]+$/.test(theme)) return "";
						return theme.toLowerCase() + rng;
					},
					escapeEventStringPart(str) {
						// Unfriendly characters are escaped in the same way as a URI except using '~' rather than '%'.
						// E.g. a line feed becomes '~0A' rather than '%0A'
						// This avoids conflicts with regular URI encoding/decoding, which might also happen when copying links around, depending on the browser
						// Spaces are also replaced with pluses
						
						if (!str) return "";
						let newStr = "";
						for (let char of str) {
							if (char === "~") newStr += '~7E'; // escape tildes
							else if (char === "|") newStr += "~7C"; // escape pipes
							else if (char === "+") newStr += "~2B"; // escape pluses
							else if (char === " ") newStr += "+"; // replace spaces with pluses
							else if (char === "`") newStr += "~60"; // escape backticks (needed for some reason, not sure why)
							else if (/\!\@\$\%\^\&\*\(\)\_\+\-\=\[\]\{\}\\\;\:\'\"\,\<\.\>\/\?/.test(char)) newStr += char; // keep these symbols
							else if (/\p{Letter}|\p{Number}|\p{Mark}|\p{Symbol}|\p{Punctuation}/u.test(char)) newStr += char; // keep everything in unicode other than control/separator characters
							else newStr += encodeURIComponent(char).replace("%", "~"); // escape all other fancy symbols like newlines, tabs, em spaces, RTL control characters, etc
						}
						return newStr;
					},
					unescapeEventStringPart(str) {
						if (!str) return "";
						return decodeURIComponent(str.replace(/\+/g, " ").replace(/\~/g, "%"));
						
						/*
						let newStr = "";
						for (let i = 0; i < str.length; ) {
							if (str.charAt(i) === "+") { newStr += " "; i++; continue; }
							
							const chunk = str.substring(i, i + 3);
							if (chunk === "~7E") { newStr += "~"; i += 3; continue; }
							if (chunk === "~7C") { newStr += "|"; i += 3; continue; }
							if (chunk === "~2B") { newStr += "+"; i += 3; continue; }
							if (chunk === "~60") { newStr += "`"; i += 3; continue; }

							for (let j = i + 3; j < str.length; ) {
								let bigChunk = str.substring(i, j);
								if (/^(\~[0-9a-fA-F][0-9a-fA-F])$/.test(bigChunk))
								newStr += decodeURIComponent(chunk.replace("~", "%"))
							}
						} */
					},
					parseDatetime(datestr) {
						if (!datestr) return null;
						const match = datestr.match(/^((?<yyyy>\d\d\d\d)(?<MM>\d\d)(?<dd>\d\d))((?<hh>\d\d)(?<mm>\d\d))?$/);
						if (!match) return null;
						const groups = match.groups;
						const date = (groups.yyyy && groups.MM && groups.dd) ? (groups.yyyy + "-" + groups.MM + "-" + groups.dd) : null;
						const time = (groups.hh && groups.mm) ? (groups.hh + ":" + groups.mm) : null;
						if (!date) return null;
						if (!!groups.hh !== !!groups.mm) return null; // time is partly present - fail fast by returning null
						return date + (time ? "T" + time : "");
					},
					randomInt(min, max) { // returns a number inclusive of min and max
						return Math.floor(Math.random() * (max + 1 - min) + min);
					},
					getUrlBase() {
						return (window.location.host + window.location.pathname).replace(/[\/\\]+$/,'');
					},
					parseEventString(str) {
						if (!str) return null;
						const arr = str.split("|");
						if (arr.length < 3) return null; // require at least a title, location, and start time

						const themeMatch = arr[7] && arr[7].match(/^(?<theme>[a-zA-Z]+)(?<rng>[0-9][0-9][0-9])$/);
						const theme = themeMatch && themeMatch.groups.theme?.toLowerCase();
						const rng = Number(themeMatch && themeMatch.groups.rng || this.randomInt(0,999));

						// Reject this event string if there are malformed dates (it has probably been parsed wrong, i.e. we should have used unibinDecode)
						// Don't reject if the dates are absent entirely
						const start = this.parseDatetime(arr[2]);
						const end = this.parseDatetime(arr[3]);
						if (arr[2] && !start) return null;
						if (arr[3] && !end) return null;
						
						return new Event(
							this.unescapeEventStringPart(arr[0]) || "", // title
							this.unescapeEventStringPart(arr[1]) || "", // location
							start || "", // startDatetime
							end || "", // endDatetime
							this.unescapeEventStringPart(arr[4]) || "", // timezone
							this.unescapeEventStringPart(arr[5]) || "", // rsvp
							this.parseDatetime(arr[6]) || "", // rsvpDate
							!theme ? this.unescapeEventStringPart(arr[7]) : "", // imageUrl
							theme || "", // theme
							rng, // rng
							this.unescapeEventStringPart(arr[8]) || "" // description
						)
					},
					async loadEventFromUrlHash(urlHash) {
						for (const decompress of [false, true]) {
							for (const unibinDecode of [false, true]) {
								if (!unibinDecode && decompress) continue; // this combination never occurs in practice; skip this loop iteration
								for (const uriDecode of [false, true]) {
									let str = urlHash;
									try { if (uriDecode) str = decodeURIComponent(str); }
									catch { continue; }
									if (unibinDecode && !decompress) str = this.decode(str);
									if (unibinDecode && decompress) str = await this.decodeAndDecompress(str);

									const evt = this.parseEventString(str);
									console.log(decompress + ", " + unibinDecode + ", " + uriDecode + ":");
									console.log(evt);
									
									if (evt) {
										this.event = evt;
										this.urlHashLoaded = true;
										return; // break out of all loops
									}
								}
							}
						}
						this.urlHashLoadFailed = true;
					}
				},
				computed: {
					eventString() {
						return (
							this.escapeEventStringPart(this.event.title) + "|" +
							this.escapeEventStringPart(this.event.location) + "|" +
							this.formatDatetime(this.event.startDatetime) + "|" +
							this.formatDatetime(this.event.endDatetime) + "|" +
							this.escapeEventStringPart(this.event.timezone) + "|" +
							this.escapeEventStringPart(this.event.rsvp) + "|" +
							this.formatDate(this.event.rsvpDate) + "|" +
							(this.escapeEventStringPart(this.event.imageUrl) || this.formatTheme(this.event.theme, this.event.rng)) + "|" +
							this.escapeEventStringPart(this.event.description)
						);
					},
					eventStringEncoded() { return this.encode(this.eventString); },
					eventUrl() { return new EventUrlInfo(this.urlBase, this.eventString) },
					eventUrlEncoded() { return new EventUrlInfo(this.urlBase, this.eventStringEncoded) },
				},
				asyncComputed: {
					async eventStringCompressedEncoded() { return await this.compressAndEncode(this.eventString); },
					async eventUrlCompressedEncoded() { return new EventUrlInfo(this.urlBase, await this.eventStringCompressedEncoded) },
					async eventUrlSmallestEncoded() {
						const a = this.eventStringEncoded;
						const b = await this.eventStringCompressedEncoded;
						const smallest = a?.length <= b?.length ? a : b;
						return new EventUrlInfo(this.urlBase, smallest);
					},
				},
				beforeMount() {
					if (this.urlHash) {
						this.loadEventFromUrlHash(this.urlHash); // don't wait for async method to return (even if we tried to wait, Vue would continue anyway)
					}
				},
				compilerOptions: {
					isCustomElement: (tag) => tag.startsWith('add-')
				}
			});
			app.use(AsyncComputed);
			app.mount('#app');
		</script>
	</body>
</html>
